@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&family=Raleway:wght@200;400;700&display=swap');


:root{
    --background: linear-gradient(135deg, #dc143c8c 0%, #764ba298 100%);
    --color-primary: #ea6666;
    --color-secundary: #a24b4b;
    --boton-padding: 20px 40px;
}

body{
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;   
    overflow: hidden;
    padding: 40px 0;
    max-width: 1200px;
}

.subtitle{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 32px;
}

.hero{
    height: 100vh;
    background-image: var(--background), url(../img/catalogoFondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.hero .container{
    padding: 0;
}

.nav{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}

.nav--footer{
    font-weight: 300;
    justify-content: flex-start;
}

.nav__items{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.nav_items--cta{
    border: 1px solid #fff;
}

.nav__items--footer{
    padding: 10px;
}

.hero__container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: #fff;
}

.hero__texts{
    width: 80%;
    margin-bottom: 50px;
}

.hero__title{
    font-size: 3.2rem;
}

.hero__subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}

.hero__cta{
    display: inline-block;
    background-color: white;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;
}

.hero__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

/* Sobre nosotros */

.presentation{
    padding-top: 0;
    text-align: center;
}

.presentation__logo{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}

.subtitle__minor{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.presentation__history{
    width: 80%;
    margin: 15px auto;
    font-size: 18px;
}

/* Catálogo */
.catalogue{
     background: #f2f2f2;
     text-align: center;
}

.catalogue a{
    text-decoration: none;
    color: #fff;
}

.catalogue__texts{
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}

.catalogue__grid{
    display: grid;
    height: 900px;
    grid-template-areas: 
    "img1 img1 img1"
    "img2 img2 img2"
    "img3 img3 img3";
    gap: 10px;
}

.catalogue__item{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.catalogue__picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.catalogue__item:nth-of-type(1){
    grid-area: img1;
}

.catalogue__item:nth-of-type(2){
    grid-area: img2;
}

.catalogue__item:nth-of-type(2){
    grid-area: img3;
}

.catalogue__hover{
    position: absolute;
    background-color: #dc143c8c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform.3s ease-in-out;
}

.catalogue__item:hover .catalogue__hover{
    transform: translateX(0%);
}

.cataogue__icon{
    margin-top: 10px;
    font-size: 30px;
}

/* Footer */

.footer{
    background-color: var(--color-primary);
}

.footer__grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}

.footer__title{
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.footer__icons{
    display: flex;
    justify-content: space-evenly;
}

.footer__container-icons{
    display: inline-block;
    width: 60px;
    height: 60px;
    color: white;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
}

.footer__icon{
    color: inherit;
    font-size: 30px;
    text-decoration: none;
}

.fab.footer__icon{
    line-height: 60px;
}

/* Responsive desing */

@media screen and (max-width: 800px) {
    :root{
        --boton-padding: 18px 40px;
    }

    .nav{
        justify-content: space-around;
    }

    
    .nav_items--cta{
        border: none;
    }

    .nav__items{
        font-weight: 400;
        border-bottom: 1px  solid #fff;
        margin-right: 0;
    }

    .nav__items--footer{
        border: none;
    }

    .hero_texts{
        width: 100%;
        margin-bottom: 80px;
    }

    .hero__title{
        font-size: 2.5rem;
    }

    .hero__subtitle{
        font-size: 1.5rem;
    }

    .presentation__history{
        width: 100%;
    }

    .footer__grid{
        grid-template-columns: 1fr;
    }

    .footer__contact{
        grid-row: 1/2;
    }

    .nav--footer{
        text-align: center;
        justify-content: center;
    }

@media screen and (max-width: 500px) {
    :root{
        --boton-padding: 18px 35px;
    }

    .container{
        padding: 10px 0;
    }

    .subtitle{
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .nav{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .nav__items{
        padding: 0 10px;
        border: 0;
    }

    .hero_texts{
        text-align: center;
        margin-bottom: 100px;
    }

    .hero__title{
        font-size: 2rem;
    }

    .presentation__logo{
        width: 120px;
        height: 120px;
    }

    .map{
        width: auto;
    }

    .catalogue__grid{
        height: auto;
        grid-template-rows: repeat(3,  250px);
        gap: 10px;
    }
}
}